# Analysis

In [11]:
import pandas as pd

In [12]:
df = pd.read_excel(r'/Users/jackmelleuish/Desktop/DATA 30 JUN 2023 - MEMBERS.xlsx')
print(df)

                Age  Age.1  Gender Class/Membership Membership Package  \
0     MemberLTS0001    6.0  Female    LEARN-TO-SWIM      LEARN-TO-SWIM
1     MemberLTS0004    7.0  Female    LEARN-TO-SWIM      LEARN-TO-SWIM
2     MemberLTS0002    7.0    Male    LEARN-TO-SWIM      LEARN-TO-SWIM
3     MemberLTS0003    6.0    Male    LEARN-TO-SWIM      LEARN-TO-SWIM
4     MemberLTS0006    0.0  Female    LEARN-TO-SWIM      LEARN-TO-SWIM
...             ...    ...     ...              ...                ...
4483  MemberGym2209   36.0  Female       Membership      Reformer Plus
4484  MemberGym2212   20.0  Female       Membership      Reformer Plus
4485  MemberGym2213   39.0  Female       Membership      Reformer Plus
4486  MemberGym2214   39.0  Female       Membership      Reformer Plus
4487  MemberGym2215   45.0  Female       Membership      Reformer Plus

     Membership Type            Suburb
0      LEARN-TO-SWIM       AARONS PASS
1      LEARN-TO-SWIM             ASCOT
2      LEARN-TO-SWIM             ASCOT
3      LEARN-TO-SWIM             ASCOT
4      LEARN-TO-SWIM         AXE CREEK
...              ...               ...
4483           ADULT   STRATHFIELDSAYE
4484           ADULT        WEDDERBURN
4485           ADULT      WEST BENDIGO
4486           ADULT         WHIPSTICK
4487           ADULT          WOODVALE

[4488 rows x 7 columns]

In [13]:
df = df.drop(columns = ['Age'])
df = df.rename(columns={"Age.1": "Age"})
print(df)

       Age  Gender Class/Membership Membership Package Membership Type  \
0      6.0  Female    LEARN-TO-SWIM      LEARN-TO-SWIM   LEARN-TO-SWIM
1      7.0  Female    LEARN-TO-SWIM      LEARN-TO-SWIM   LEARN-TO-SWIM
2      7.0    Male    LEARN-TO-SWIM      LEARN-TO-SWIM   LEARN-TO-SWIM
3      6.0    Male    LEARN-TO-SWIM      LEARN-TO-SWIM   LEARN-TO-SWIM
4      0.0  Female    LEARN-TO-SWIM      LEARN-TO-SWIM   LEARN-TO-SWIM
...    ...     ...              ...                ...             ...
4483  36.0  Female       Membership      Reformer Plus           ADULT
4484  20.0  Female       Membership      Reformer Plus           ADULT
4485  39.0  Female       Membership      Reformer Plus           ADULT
4486  39.0  Female       Membership      Reformer Plus           ADULT
4487  45.0  Female       Membership      Reformer Plus           ADULT

                Suburb
0          AARONS PASS
1                ASCOT
2                ASCOT
3                ASCOT
4            AXE CREEK
...                ...
4483   STRATHFIELDSAYE
4484        WEDDERBURN
4485      WEST BENDIGO
4486         WHIPSTICK
4487          WOODVALE

[4488 rows x 6 columns]

df.groupby(['Class/M']).size()